@page
@model IBAS_menu.Pages.ContactModel
@{
}
<table class="table border">


    <thead>
        <tr>
            <th>Tlf. Nr.</th>
            <th>Navn</th>
            <th>Adresse</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>26356298</td>
            <td>Karen</td>
            <td>Karengade 69</td>
        </tr>

    </tbody>


</table>