@page
@model IBAS_menu.Pages.Index1Model
@{
    <div class="row">
    <table class="arrowes-table table-striped">
        <thead>
            <tr>
                <th>Dag</th>
                <th>Varm Ret</th>
                <th>Kold Ret</th>
               
            </tr>
        </thead>

        <tbody>
        <tr>
      <td>Mandag</td> 
      <td>Flæsk</td>
      <td>kold flæsk</td>
      </tr>
      <tr>
      <td>Tirsdag</td>
      <td>stegt flæsk</td>
      <td>kold stegt flæsk</td>
      </tr>
        </tbody>

        </div>
}
